body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--color-selection-bg);
  color: var(--color-selection);
}

