.editable-block {
  position: relative;
  margin: 0;
  padding: 0;
}

.editable-block-content {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  min-height: 1.5em;
  width: 100%;
  resize: none;
  overflow: visible;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.editable-block-content:focus {
  outline: none;
}

